*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: 'Lato', sans-serif;
    background:linear-gradient(90deg,#ADCF9F 0%, #76BA99 100%);
}
.clock{
    font-size: 30px;
    font-weight: 100;
}
.number{
    display: inline-block;
    font-size: 120px;
    width: 140px;
    border: none;
    background: transparent;
    color: #F9F2ED;
    font-family: 'Lato', sans-serif;
    text-shadow: -1px 0px 15px rgba(37,27,27,0.25);
    text-align: center;
}
.buttons{
    width: 100%;
    display:  flex;
    justify-content: center;
}
.buttons button{
    border: none;
    margin: 0px 7px;
    padding: 40px;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
}
#play{
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-position: center;
}
#stop{
    background-image: url(../img/stop.png);
    background-repeat: no-repeat;
    background-position: center;
}
#play:hover,#stop:hover{
    cursor: pointer;
}
#play:active{
    background-color: lightgreen;
}

#stop:active{
    background-color: lightcoral;
}